ion-content{
    font-family: Thorce !important;
    --background: #25889C;
    --color: #fff;
}

ion-avatar{
    margin: 0 auto;
    width: 150px !important;
    height: 150px !important;
}

ion-label{
    h1{ font-size: 33px !important; }
    h2{ font-size: 24px !important; }
}