<ion-tabs>


  <ion-tab-bar slot="bottom" color="dark">

    <ion-tab-button tab="home">
      <ion-icon name="home" size="small"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="play">
      <ion-icon name="play" size="small"></ion-icon>
      <ion-label>Jugar</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="account">
      <ion-icon name="person" size="small"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>


  </ion-tab-bar>


</ion-tabs>
